{% extends "layouts/base.html" %}
{% load crispy_forms_filters i18n %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <form class="card border-success rounded-3 bg-warning" method="post" action="">
                {% csrf_token %}
                <div class="card-header text-center bg-success rounded-top text-black">{% trans "Tizimga kirish" %}</div>
                <div class="card-body">
                    {{ form|crispy }}
                </div>
                <div class="card-footer bg-success text-center">
                    <button type="submit" class="btn btn-outline-warning text-black mb-3">{% trans "Tizimga kirish" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}